.dashboard__title {
  font-size: 4rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.dashboard__section {
  margin-bottom: 5rem;
}

.dashboard__section-title {
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

.dashboard__balance-table-outer-container {
  flex: 1;
}

.dashboard__section-inner-container {
  display: flex;
  gap: 1rem;
}

.dashboard__table-container {
  height: 100%;
}

.dashboard__net-table-outer-container {
  flex: 1;
}

.budget {
  display: flex;
  gap: 2.5rem;
}

.budget__table {
  flex: 2.5;
}

.budget__graph {
  flex: 3;
}

.dashboard__interest-container {
  display: flex;
  gap: 2.5rem;
  height: 500px;
  justify-content: space-evenly;
  align-items: stretch;
}

.dashboard__interest-container > div > * {
  height: 100%;
}
